@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Kdam Thmor Pro', sans-serif;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
}


li:hover {
    color: #D21617;
}

#logo {
    width: auto;
    height: 90px;
}

h3 {
    margin-top: 70px;
    display: flex;
    justify-content: center;

    color: #fff;
}

.gallery {
   display: block;
}

.gallery-content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 70px;
}

.colum{
    display: block;
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
    box-sizing: border-box;
}

.column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
}
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
img {
    width: 100%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


.myImg:hover {
    transform: scale(1.02);
}


footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}


@media(max-width: 768px){
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    .gallery {
        margin-top: none;
    }

    .gallery-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}